<div class="partner partner-section" *ngIf="partners">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor="let partner of partners">
      <div class="carousel-card">
        <div (mousedown)="mousedown()" (mousemove)="mousemove()" (mouseup)="mouseup(partner.slug)">
          <div class="carousel-card-logo">
            <div class="carousel-card-logo-container">
              <img src={{partner.imageURL}} />
              <!--<a [routerLink]="['/partner', partner]"></a>-->
            </div>
          </div>
          <div class="carousel-card-content row justify-content-center">
            <div class="card-content-partner">
              <div class="card-content-partner-divider"><span></span><span></span><span></span></div>
              <div class="partner-heading">
                <div class="partner-title">{{partner.name}}</div>
                <div class="partner-sector"><span class="mdi mdi-view-dashboard-outline"></span> {{partner.sector}}
                </div>
              </div>
              <div class="partner-info">
                <div class="">
                  <div *ngIf="partner.address" class="partner-subtitle">
                    <span class="mdi mdi-map"></span>
                    {{partner.address.street}}, {{partner.address.city}}
                  </div>
                </div>
                <!--<app-share-icon></app-share-icon>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
  <div class="text-center mt-4">
    <a class="btn btn-primary tertiary-bck" [routerLink]="['/partners']">{{ 'BUTTONS.More' | translate }}</a>
  </div>
</div>