<div class="partner partner-section" *ngIf="partners">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor="let partner of partners">
      <div class="carousel-card">
        <div (mousedown)="mousedown()" (mousemove)="mousemove()" (mouseup)="mouseup(partner.slug)">
          <sng-partner-card [partner]="partner"></sng-partner-card>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
  <div class="text-center mt-4">
    <a class="btn btn-primary tertiary-bck" [routerLink]="['/partners']">{{ 'BUTTONS.More' | translate }}</a>
  </div>
</div>