<div *ngIf="campaigns?.length > 0">
  <div class="container-wrapper two-part-section bck-asymmetry secondary">
    <div class="container">
      <div class="row">
        <div class="col-md-10 wide">
          <div class="wide-container">
            <div>
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide *ngFor="let item of campaigns">
                  <div (mousedown)="mousedown()" (mousemove)="mousemove()"
                    (mouseup)="mouseup(item.partner_slug, item.campaign_slug)">
                    <sng-microcredit_campaign-card [campaign]="item"></sng-microcredit_campaign-card>
                  </div>
                </ng-template>
              </owl-carousel-o>
            </div>
          </div>
          <div *ngIf="!singlePartner" class="section-link-to-all">
            <a [routerLink]="['/microcredits']">
              {{ 'SECTIONS.campaigns-link-to-all' | translate }}
            </a>
          </div>
        </div>
        <div class="col-md-2 narrow">
          <div class="narrow-title">
            {{ 'SECTIONS.campaigns-title' | translate }}
          </div>
        </div>

      </div>
    </div>
  </div>
</div>