<div class="home-hero row">
	<div class="col-md-6" *ngIf="content['homebanner']&&content['homebanner_title']">
		<h2 [innerHTML]="content['homebanner_title'].el_content"></h2>
		<div *ngIf="translate.currentLang == 'en'" class="hero-content-container">
			<p [innerHTML]="content['homebanner'].en_content"></p>
		</div>
		<div *ngIf="translate.currentLang == 'el'" class="hero-content-container">
			<p [innerHTML]="content['homebanner'].el_content"></p>
		</div>
		<a class="btn btn-primary" target="_blank" href="{{appUrl}}/auth/register">{{ 'BUTTONS.Join' | translate }}</a>
	</div>
	<div class="col-md-6">
		<img src="assets/media/images/home-hero.png">
	</div>
</div>
