<div class="home-hero row">
	<div class="col-md-6">
		<h2>{{ 'HOME.Tagline' | translate }}</h2>
		<div *ngIf="translate.currentLang == 'en'" class="hero-content-container">
			<p [innerHTML]="content.en_content"></p>
		</div>
		<div *ngIf="translate.currentLang == 'el'" class="hero-content-container">
			<p [innerHTML]="content.el_content"></p>
		</div>
		<a class="btn btn-primary" href="{{appUrl}}">{{ 'BUTTONS.LearnMore' | translate }}</a>
	</div>
	<div class="col-md-6">
		<img src="assets/media/images/home-hero.png">
	</div>
</div>