.home-hero {
	margin-bottom: 50px;
	align-items: center;
	h2 {
		font-size: 3rem;
		color: var(--secondary);
		font-weight: 700;
		margin-bottom: 30px;
	}
	.hero-content-container{
		margin-bottom: 40px;
	}
	img {
		max-width: 100%;
	}
}