.offer {
	&-wrapper 
	{
		overflow: hidden;
	}
	position: relative;
	//overflow: hidden;
	height: 100%;
	&-logo {
		//position: absolute;
		top: 0;
		right: 0;
		width: 50%;
		img {
			width: 100%;
		}
	}
	&-image {
		> div {
			//position: absolute;
			width: calc(50vw - 50%);
			height: calc(100% + 130px);
			position: relative;
			top: -130px;
			margin-bottom: -130px;	
			img {
				width: 100%;
				border-bottom-left-radius: 50%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}