<div class="single single-campaign s_item container" *ngIf="campaign">
  <div class="row">
    <div class="offset-md-1 col-md-10">
      <div class="row">
        <div class="col-md-12 s_item-img">
          <img [src]="campaign.imageURL" [alt]="campaign.title" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 s_item-info-container">
          <h1 class="s_item-title">{{ campaign.title }}</h1>
          <div class="s_item-info single-campaign-info row">
            <div class="col-md-7">
              <div class="data">
                <label>{{'CAMPAIGN.Expires' | translate}}:</label> {{campaign.expiresAt | date: 'd.M'}}
              </div>
              <div *ngIf="campaign.redeemable" class="data">
                <label>{{'CAMPAIGN.RedeemDates' | translate}}:</label> {{campaign.redeemStarts | date: 'd.M.y'}} -
                {{campaign.redeemEnds | date: 'd.M.y'}}
              </div>
              <div class="data terms">
                <label>
                  {{'CAMPAIGN.Terms' | translate}}
                </label>
                <p [innerHTML]="campaign.terms"></p>
              </div>
            </div>
            <div class="col-md-5">
              <div class="data price" *ngIf="campaign.redeemable">
                <label *ngIf="campaign.quantitative==true&&campaign.stepAmount>1">
                  {{'CAMPAIGN.Price' | translate}}
                </label>
                <label *ngIf="campaign.quantitative!=true">
                  {{'CAMPAIGN.Price' | translate}}
                </label>
                <label *ngIf="campaign.quantitative==true&&campaign.stepAmount<=1">
                  {{'CAMPAIGN.PriceFrom' | translate}}
                </label>
                <br>
                <span *ngIf="campaign.quantitative==true&&campaign.stepAmount>1">
                  {{campaign.minAllowed | currency:'EUR' }}
                </span>
                <span *ngIf="campaign.quantitative!=true">
                  {{campaign.minAllowed | currency:'EUR' }}
                </span>
                <span *ngIf="campaign.quantitative==true&&campaign.stepAmount<=1">
                  {{campaign.minAllowed | currency:'EUR' }}
                </span>
              </div>
              <div class="support-button" *ngIf="canSupport">
                <!-- Μεγαλο μπλε κουμπι που ανοίγει modal -->
                <button (click)="openSupportEvent(campaign)" (keyup.enter)="openSupportEvent(campaign)"
                  id="kt_login_signin_submit" class="col-md-12 btn btn-primary"
                  [ngClass]="{'spinner spinner--right spinner--md spinner--light': loading}">{{'CAMPAIGN.Support' |
                  translate}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 s_item-partner ">
          <a [routerLink]="['/partner/'+campaign.partner.slug]" title="{{campaign.partner.name}}">
            <h5>{{campaign.partner.name}}</h5>
          </a>
          <a [routerLink]="['/partner/'+campaign.partner.slug]" title="{{campaign.partner.name}}">
            <img src="{{campaign.partner.imageURL}}" alt="{{campaign.partner.name}}">
          </a>
          <div *ngIf="campaign.partner.address">
            <span class="mdi mdi-pin"></span> {{campaign.partner.address.street}}, {{campaign.partner.address.city}}
          </div>
          <div *ngIf="campaign.partner.phone">
            <span class="mdi mdi-phone"></span>{{campaign.partner.phone}}
          </div>
          <div>
            <span class="mdi mdi-email"></span>{{campaign.partner.email}}
          </div>
        </div>
        <div class="col-md-9 s_item-content">
          <sng-rich-editor-view [description]="campaign.description"></sng-rich-editor-view>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 archive-link">
          <a [routerLink]="['/support']">{{ 'SECTIONS.campaigns-link-to-all' | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--begin::SupportWindow Modal-->
<ng-template #supportWindowModal let-c="close" let-d="dismiss">
  <button type="button" class="close-btn" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  <sng-support-window [campaign]="campaign" (closeModalEvent)="onClose($event)"></sng-support-window>
</ng-template>
<!--end::SupportWindow Modal-->


<!--
<div *ngIf="campaign" class="campaign-wrapper single">
  <div class="fullwidth-title">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </div>
  <div class="campaign">
    <div class="container">
      <div class="row">
        <div class="col-md-8 campaign-content">
          <div class="row">
            <div class="col-md-12">
              <h1 class="single-title">{{campaign.title}}</h1>
              <p [innerHTML]="campaign.description"></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 partner-img">
              <div>
                <img [src]="campaign.partner_imageURL" [alt]="campaign.title" />
              </div>
            </div>
            <div class="col-md-6 single-info">
              <div><span class="mdi mdi-shopping"></span> {{campaign.partner_name}}</div>
              <div *ngIf="campaign.quantitative&&campaign.minAllowed"><span class="mdi mdi-star"></span>
                {{ 'SINGLE.CAMPAIGN.Minimum' | translate }}: {{campaign.minAllowed}}</div>
              <div *ngIf="campaign.quantitative&&campaign.maxAllowed"><span class="mdi mdi-star"></span>
                {{ 'SINGLE.CAMPAIGN.Maximum' | translate }}: {{campaign.maxAllowed}}</div>
              <div *ngIf="!campaign.quantitative&&campaign.minAllowed"><span class="mdi mdi-star"></span>
                {{ 'SINGLE.CAMPAIGN.Standard' | translate }}: {{campaign.minAllowed}}</div>
              <div><span class="mdi mdi-clock"></span> {{ 'SINGLE.CAMPAIGN.Begins' | translate }}:
                {{campaign.startsAt | date: 'd/M/y'}}</div>
              <div><span class="mdi mdi-clock"></span> {{ 'SINGLE.CAMPAIGN.Expires' | translate }}:
                {{campaign.expiresAt | date: 'd/M/y'}}</div>
            </div>
          </div>
        </div>
        <div class="col-md-4 campaign-image">
          <div>
            <img [src]="campaign.campaign_imageURL" [alt]="campaign.title" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="canSupport" class="fullwidth-title">
    <div class="container normal-text">
      <div class="row">
        <div class="col-md-12">
          <h4>{{ 'SINGLE.CAMPAIGN.Support-title' | translate }}</h4>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="canSupport" class="container">
    <div class="row">
      <div class="col-md-12">

      </div>
      
      <div class="col-md-6 campaign-terms">
        <p>{{campaign.terms}}</p>
      </div>
    </div>
  </div>
</div>
-->