<app-card *ngIf="microcredit$ | async as microcredit;">
	<div *ngIf="coop$ | async as coop;">
		<h1>{{microcredit.title}} {{ 'demo.title' | translate }}</h1>
		<div class="microcredit row">
			<div class="col-md-6 microcredit-content">
				<div class="microcredit-logo">
					<img [src]="coop.img" [alt]="coop.name" />
				</div>
				<div class="">
					<div>{{coop.name}}</div>
				</div>
			</div>
			<div class="col-md-6 microcredit-contact">
				<div>Points: {{microcredit.points}}</div>
				<div>Expires: {{microcredit.expires}}</div>
			</div>
		</div>
		<div class="row">
			<h5>Do you wish to support this cause?</h5>
			Please complete the info 
			
		</div>
	</div>
</app-card>