<div *ngIf="campaign" class="campaign-wrapper single">
  <div class="fullwidth-title">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </div>
  <div class="campaign">
    <div class="container">
      <div class="row">
        <div class="col-md-8 campaign-content">
          <div class="row">
            <div class="col-md-12">
              <h1 class="single-title">{{campaign.title}}</h1>
              <p [innerHTML]="campaign.description"></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 partner-img">
              <div>
                <img [src]="campaign.partner_imageURL" [alt]="campaign.title" />
              </div>
            </div>
            <div class="col-md-6 single-info">
              <div><span class="mdi mdi-shopping"></span> {{campaign.partner_name}}</div>
              <div *ngIf="campaign.quantitative&&campaign.minAllowed"><span class="mdi mdi-star"></span>
                {{ 'SINGLE.CAMPAIGN.Minimum' | translate }}: {{campaign.minAllowed}}</div>
              <div *ngIf="campaign.quantitative&&campaign.maxAllowed"><span class="mdi mdi-star"></span>
                {{ 'SINGLE.CAMPAIGN.Maximum' | translate }}: {{campaign.maxAllowed}}</div>
              <div *ngIf="!campaign.quantitative&&campaign.minAllowed"><span class="mdi mdi-star"></span>
                {{ 'SINGLE.CAMPAIGN.Standard' | translate }}: {{campaign.minAllowed}}</div>
              <div><span class="mdi mdi-clock"></span> {{ 'SINGLE.CAMPAIGN.Begins' | translate }}:
                {{campaign.startsAt | date: 'd/M/y'}}</div>
              <div><span class="mdi mdi-clock"></span> {{ 'SINGLE.CAMPAIGN.Expires' | translate }}:
                {{campaign.expiresAt | date: 'd/M/y'}}</div>
            </div>
          </div>
        </div>
        <div class="col-md-4 campaign-image">
          <div>
            <img [src]="campaign.campaign_imageURL" [alt]="campaign.title" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fullwidth-title">
    <div class="container normal-text">
      <div class="row">
        <div class="col-md-12">
          <h4>{{ 'SINGLE.CAMPAIGN.Support-title' | translate }}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">

      </div>
      <div class="col-md-6 campaign-support">
        <p>{{ 'SINGLE.CAMPAIGN.Form-title' | translate }}</p>

        <!--start::StepA-Email-->
        <form *ngIf="!step" class="kt-form" [formGroup]="registrationForm" autocomplete="off">
          <div class="col-md-12 form-group">
            <mat-form-field class="col-md-12">
              <mat-label>{{ 'AUTH.INPUT.EMAIL' | translate }}</mat-label>
              <input matInput type=" email" placeholder="{{ 'AUTH.INPUT.EMAIL' | translate }}" formControlName="email"
                autocomplete="off" />
              <mat-error *ngIf="isRegistrationControlHasError('email','required')">
                <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
              </mat-error>
              <mat-error *ngIf="isRegistrationControlHasError('email','email')">
                <strong>{{ 'AUTH.VALIDATION.INVALID_FIELD' | translate }}</strong>
              </mat-error>
              <mat-error *ngIf="isRegistrationControlHasError('email','minLength')">
                <strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
              </mat-error>
              <mat-error *ngIf="isRegistrationControlHasError('email','maxLength')">
                <strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 320</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <!--begin::Action-->
          <div class="col-md-12 kt-login__actions" style="padding: 0 0 0 0">
            <button (click)="onSubmitRegistration()" (keyup.enter)="onSubmitRegistration()" id="kt_login_signin_submit"
              class="col-md-12 btn btn-primary"
              [ngClass]="{'spinner spinner--right spinner--md spinner--light': loading}">{{ 'AUTH.GENERAL.SUBMIT_BUTTON' | translate }}</button>
          </div>
          <!--end::Action-->

        </form>
        <!--end::StepA-Email-->

        <!--start::StepB-Amount&Method-->
        <form *ngIf="step" class="kt-form" [formGroup]="supportingForm" autocomplete="off">
          <div class="form-group">
            <label>{{'SUPPORT.AMOUNT' | translate}}</label>
            <div class="input-group">
              <span class="input-group-text">€</span>
              <input [readonly]="!campaign.quantitative||campaign.stepAmount" type="number" class="form-control"
                name="amount" formControlName="amount" placeholder="Amount" value="0">
              <div *ngIf="campaign.quantitative" class="amount-controller">
                <button [disabled]="!showAddStep" mat-mini-fab class="add" (click)="onChangeAmount(true)"> + </button>
                <button [disabled]="!showSubStep" mat-mini-fab class="sub" (click)="onChangeAmount(false)"> - </button>
              </div>
            </div>
            <span *ngIf="isSupportingControlHasError('amount','required')"
              class="error text-danger">{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</span>
            <span *ngIf="isSupportingControlHasError('amount','min')"
              class="error text-danger">{{ 'AUTH.VALIDATION.MIN_VALUE_FIELD' | translate }}
              {{ campaign.minAllowed | currency: 'EUR'}}</span>
            <span *ngIf="isSupportingControlHasError('amount','max')"
              class="error text-danger">{{ 'AUTH.VALIDATION.MAX_VALUE_FIELD' | translate }}
              {{ campaign.maxAllowed | currency: 'EUR'}}</span>
          </div>
          <div class="form-group">
            <label>{{'SUPPORT.PAYMENT' | translate}}</label>
            <select name="method" formControlName="method" class="form-control"
              (change)="onPaymentChange($event.target.value)">
              <option *ngFor="let payment of paymentsList" value="{{payment.bic}}">
                {{payment.title | translate}}</option>
            </select>
            <span *ngIf="isSupportingControlHasError('method','required')"
              class="error text-danger">{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</span>
          </div>

          <!--begin::Action-->
          <div class="col-md-12 kt-login__actions" style="padding: 0 0 0 0">
            <button (click)="onPreviousStep()" (keyup.enter)="onPreviousStep()" id="kt_login_signin_submit"
              class="col-md-12 btn btn-danger"
              [ngClass]="{'spinner spinner--right spinner--md spinner--light': loading}">{{ 'AUTH.GENERAL.PREVIOUS_BUTTON' | translate }}</button>
          </div>
          <div *ngIf="!showPaypalButton" class="col-md-12 kt-login__actions" style="padding: 0 0 0 0">
            <button (click)="onSubmitSupporting()" (keyup.enter)="onSubmitSupporting()" id="kt_login_signin_submit"
              class="col-md-12 btn btn-primary"
              [ngClass]="{'spinner spinner--right spinner--md spinner--light': loading}">{{ 'AUTH.GENERAL.SUBMIT_BUTTON' | translate }}</button>
          </div>
          <ngx-paypal *ngIf="showPaypalButton" [config]="payPalConfig"></ngx-paypal>
          <!--end::Action-->

        </form>
        <!--end::StepB-Amount&Method-->

      </div>
      <div class="col-md-6 campaign-terms">
        <p>{{campaign.terms}}</p>
      </div>
    </div>
  </div>
</div>