.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	.nav-link {
		color: #000;
		font-size: 18px;
		padding: 0.5rem;
		&:hover {
			color: var(--secondary);
		}
	}
	.menu-divider:not(:last-child) {
		width: 7px;
		height: 7px;
		background-color: var(--primary);
		border-radius: 50%;
		margin: 0 9px;
	}
}
@media screen and (max-width: 1024px) {
	.nav {
		display: none;
	}
}
app-user-menu,
app-language-switcher {
  display: flex;
  align-items: flex-end;
  button {
    margin-left: 15px;
  }
}