// @import "../../../../../variables.scss";

// .s_single {
//   &-date {
//     background-color: $secondary;
//   }
// }
::ng-deep .editor-content {
  .image-style-side {
    float: right;
    margin-left: var(--ck-image-style-spacing);
    max-width: 50%;
  }

  .image img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    min-width: 50px;
  }

  img {
    vertical-align: middle;
    border-style: none;
  }

  .image > figcaption {
    margin: auto;
    width: 100%;
    text-align: center;
    color: #333;
    background-color: #f7f7f7;
    padding: 0.6em;
    font-size: 0.75em;
    outline-offset: -1px;
  }

  table {
    margin: 1em auto;
    display: table;
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
    width: 99%;
    height: 100%;
    border: 1px double #b3b3b3;
  }

  blockquote {
    overflow: hidden;
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin-left: 0;
    margin-right: 0;
    font-style: italic;
    border-left: 5px solid #ccc;

    p {
      font-style: italic;
      margin-left: 5px;
    }
  }
}
