button.log-in {
	padding: 7px 12px 9px;
	line-height: 1.1;
	font-size: 18px;
}

	.menu-icon {
		width: 45px;
		padding: 2px 7px;
		cursor: pointer;
		transition: opacity 0.2s;
		&:hover {
			opacity: 0.6;
		}
	}
	
@media screen and (max-width: 1024px) {
	.log-in {
		display: none;
	}
}	

@media screen and (min-width: 1025px) {
	.menu-icon {
		display: none;
	}
}