.coop {
	&-info-container {
		margin-bottom: 30px;
		.coop-info-content > .row {
			align-items: flex-end;
		}
	}
	&-logo-container {
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			max-width: 100%;
			max-height: 400px;
		}
	}
	&-offer {
		.points {
			color: #ee306e;
			font-weight: 600;
		}				
	}
}