<div *ngIf="coop">
  <div class="container coop-info-container">
    <div class="coop row">
      <div class="col-md-8 coop-info-content">
        <div class="row">
          <div class="col-md-12">
            <h1 class="single-title">{{coop.name}}</h1>
            <div class="description" [innerHTML]="coop.description"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div>
              <div class="sector"><span class="mdi mdi-view-dashboard-outline"></span> {{coop.sector}}</div>
              <div><span class="mdi mdi-email"></span> {{coop.email}}</div>
              <div *ngIf="coop.contact&&coop.contact.websiteURL"><span class="mdi mdi-web"></span> <a target="_blank"
                  href="{{coop.contact.websiteURL}}">
                  {{coop.contact.websiteURL}}</a></div>
              <div *ngIf="coop.contact&&coop.contact.phone"><span class="mdi mdi-phone-classic"></span>
                {{coop.contact.phone}}</div>
              <div *ngIf="coop.address"><span class="mdi mdi-map"></span> {{coop.address.street}},
                {{coop.address.postCode}},
                {{coop.address.city}}</div>
            </div>
          </div>
          <div class="col-md-6 coop-timetable">
            <div *ngIf="coop.timetable">
              <div><span class="mdi mdi-clock-outline"></span> {{ 'SINGLE.COOP.Timetable' | translate }}</div>
              <div class="hours" [innerHTML]="coop.timetable"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 coop-logo-container">
        <div class="coop-logo">
          <img [src]="coop.imageURL" [alt]="coop.name" />
        </div>
      </div>
    </div>
  </div>
  <div class="gallery">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let galleryImg of gallery">
        <div class="carousel-logo">
          <div class="">
            <img src="assets/media/images/{{galleryImg}}">
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>

  <app-offer-list [merchId]='coop._id'></app-offer-list>

  <app-microcredit-list [merchId]='coop._id'></app-microcredit-list>

  <app-events-list [merchId]='coop._id'></app-events-list>

  <div *ngIf="coop.address">
    <app-map [merchId]='coop._id'></app-map>
  </div>
</div>
