@import "../../../../variables.scss";

.partner {
	&-info-container {
		margin-bottom: 30px;
		.partner-info-content > .row {
			align-items: flex-end;
		}
		.description {
			font-size: 20px;
			margin-bottom: 10px;
		}
		.sector {
			font-weight: 700;
		}
		.hours {
			margin-left: 3px;
			margin-top: 5px;
		}
	}
	&-logo-container {
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			max-width: 100%;
			max-height: 400px;
		}
	}
	.mdi {
		position: relative;
		top: 4px;
		font-size: 28px;
		line-height: 32px;
		color: $primary;
	}
}
