<div *ngIf="coop">
	<div class="container coop-info-container">
		<div class="coop row">
			<div class="col-md-6 coop-info-content">
				<div class="row">	
					<div class="col-md-6">		
						<div>
							<h1 class="single-title">{{coop.name}}</h1>
							<div>{{coop.sector}}</div>
							<div>{{coop.email}}</div>
							<div>{{coop.contact.websiteURL}}</div>
							<div>{{coop.contact.phone}}</div>
							<div>{{coop.address.street}}, {{coop.address.postCode}}, {{coop.address.city}}</div>
						</div>
					</div>
					<div class="col-md-6 coop-content">
						<div>
							<div>Ωράριο</div>
							<div>{{coop.email}}</div>
							<div>{{coop.contact.websiteURL}}</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 coop-logo-container">
				<div class="coop-logo">
					<img [src]="coop.imageURL" [alt]="coop.name" />
				</div>	
			</div>
		</div>
	</div>
	<div class="gallery">
		<owl-carousel-o [options]="customOptions">
			<ng-template carouselSlide *ngFor="let galleryImg of gallery">
				<div class="carousel-logo">
					<div class="">						
						<img src="assets/media/images/{{galleryImg}}">
					</div>
				</div>
			</ng-template>
		</owl-carousel-o>
	</div>
	<div class="container-wrapper two-part-section bck-asymmetry primary">
		<div class="container">
			<div class="row">
				<div class="col-md-2 narrow">
					<div class="narrow-title">
						{{ 'HOME.offers-title' | translate }}
					</div>
				</div>
				<div class="col-md-10 wide">
					<div class="wide-container">
						<div>
							<app-offer-list></app-offer-list>
						</div>
					</div>			
				</div>
			</div>
		</div>
	</div>
	<div class="container-wrapper two-part-section bck-asymmetry secondary">
		<div class="container">
			<div class="row">
				<div class="col-md-10 wide">
					<div class="wide-container">
						<div>
							<app-microcredit-list></app-microcredit-list>
						</div>
					</div>			
				</div>
				<div class="col-md-2 narrow">
					<div class="narrow-title">
						{{ 'HOME.campaigns-title' | translate }}
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<app-container class="event-container">
		<h2 class="news-title">{{ 'HOME.news-title' | translate }}</h2>
		<app-events-list></app-events-list>
	</app-container>
	<div><app-map></app-map></div>
</div>