<div *ngIf="coop">
	<div class="container coop-info-container">
		<div class="coop row">
			<div class="col-md-6 coop-info-content">
				<div class="row">	
					<div class="col-md-6">		
						<div>
							<h1 class="single-title">{{coop.name}}</h1>
							<div>{{coop.sector}}</div>
							<div>{{coop.email}}</div>
							<div>{{coop.contact.websiteURL}}</div>
							<div>{{coop.contact.phone}}</div>
							<div>{{coop.address.street}}, {{coop.address.postCode}}, {{coop.address.city}}</div>
						</div>
					</div>
					<div class="col-md-6 coop-content">
						<div *ngIf="coop.timetable">
							<div>Ωράριο</div>
							<div [innerHTML]="coop.timetable"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 coop-logo-container">
				<div class="coop-logo">
					<img [src]="coop.imageURL" [alt]="coop.name" />
				</div>	
			</div>
		</div>
	</div>
	<div class="gallery">
		<owl-carousel-o [options]="customOptions">
			<ng-template carouselSlide *ngFor="let galleryImg of gallery">
				<div class="carousel-logo">
					<div class="">						
						<img src="assets/media/images/{{galleryImg}}">
					</div>
				</div>
			</ng-template>
		</owl-carousel-o>
	</div>

	<app-offer-list [merchId]='coop._id'></app-offer-list>

	<app-microcredit-list [merchId]='coop._id'></app-microcredit-list>

	<app-events-list [merchId]='coop._id'></app-events-list>

	<div><app-map [merchId]='coop._id'></app-map></div>
</div>