<div class="fullwidth-title">
	<div class="container">
		<div class="row">
			<h1>{{ 'PAGE_TITLES.news-title' | translate }}</h1>
		</div>
	</div>
</div>
<div *ngIf="posts_events?.length > 0" class="container">
	<div>		
		<!--<div class="event row" *ngFor="let event of objectKeys(list)">-->
		<div class="event row" >
			<div class="col-md-4" *ngFor="let post of posts_events | paginate: { itemsPerPage: 3, currentPage: p }">
				<mat-card class="item-card post-card" *ngIf="post">
					  <mat-card-content>
							<!--begin::Content-->
							<div class="wallet_post_wrapper">
								<div class="item row" >
									<div class="col-sm-12 item-img-container">
										<div class="item-img">
											<img src={{post.post_event_imageURL}} alt={{post.title}} />
											<div *ngIf="post.dateTime" class="item-expires"><span class="white mdi mdi-calendar"></span> {{post.dateTime | date: 'd.M'}}</div>
										</div>
										
									</div>
									<div class="col-sm-12 item-amount">
										<div class="item-heading">
											<div class="item-title">{{post.title}}</div>
											<div>
												<span class="points">{{post.cost | currency:'EUR'}}</span>
											</div>
										</div>
										<div class="item-description">
											{{post.content}}
										</div>
										<div class="item-info">
											<div class="">
												<div *ngIf="!singleMerchant" class="item-subtitle">
													<span class="mdi mdi-shopping"></span>{{post.merchant_name}}
												</div>
												<div *ngIf="post.location" class="item-subtitle">
													<span class="mdi mdi-pin"></span>{{post.location}}
												</div>
											</div>
											<!--<app-share-icon></app-share-icon>-->
										</div>
									</div>
								</div>
							</div>
							<!--end::Content-->
					  </mat-card-content>
				</mat-card>
			</div>
		</div>
		<pagination-controls (pageChange)="p = $event"></pagination-controls>
	</div>
</div>

