<div class="fullwidth-title">
	<div class="container">
		<div class="row">
			<h1>{{ 'PAGE_TITLES.news-title' | translate }}</h1>
		</div>
	</div>
</div>
<div *ngIf="posts_events?.length > 0" class="postevent-container container">
	<div class="row">
		<div class="col-md-4 postevent-item" *ngFor="let post_event of posts_events | paginate: { itemsPerPage: 9, currentPage: p }"
			(click)="clickPostEvent(post_event.partner.slug, post_event.slug)">
			<sng-post_event-card [post_event]="post_event" type="all"></sng-post_event-card>
		</div>
	</div>
	<pagination-controls autoHide="true" (pageChange)="p = $event"></pagination-controls>
</div>
