<div class="map-container">
	<agm-map class="map" [latitude]='latitude' [longitude]='longitude' [styles]="mapStyle">
		<ng-template [ngIf]="list">
			<!--<agm-marker *ngFor="let coop of list; let i = index"
				[latitude]="coop.lat"
				[longitude]="coop.long"
				[markerDraggable]="coop.draggable"
			>
				<agm-info-window>
					<div class="info-container">
						<img src={{coop.img}}>
						<div>
							<a [routerLink]="['/coop', coop.id]">
								<strong>{{coop.name}}</strong>
								<br>
								<p>{{coop.address}}</p>
							</a>
						</div>
					</div>
				</agm-info-window>
			</agm-marker>-->
			<agm-marker *ngFor="let m of markers; let i = index"
			[latitude]="m.lat" [longitude]="m.lng" [iconUrl]="pin" [markerDraggable]="m.draggable">

				<agm-info-window>
					<div class="info-container">
						<img src={{m.img}}>
						<div>
							<a [routerLink]="['/coop', m.name]">
								<strong>{{m.name}}</strong>
								<br>
								<p>{{m.address}}</p>
							</a>
						</div>
					</div>
				</agm-info-window>
			</agm-marker>
		</ng-template>
	</agm-map>
</div>
