<div class="not-found">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Page not Found!</h1>
				<div class="text">Of course, Not all those who wander are lost.<br>Maybe you wish to hang out here and ponder.<br>However, at some point you might wish to </div>
				<button (click)="goBack()" class="btn btn-primary mr-2">Go back to where you came from</button>
				<a  class="btn btn-primary" href="/" class="btn btn-primary mr-2">Go home</a>
				<a href="https://www.lonelyplanet.com/articles/how-to-plan-a-round-the-world-trip" target="_blank" class="btn btn-primary">Go a long way</a>
			</div>
		</div>
	</div>
</div>
