.credit{
    &-desc{
        margin-top: 50px;
    }
    &-container{
        margin-top: 50px;
        margin-bottom: 60px;
        min-height: 300px;
    }
    &-item{
        margin-bottom: 30px;
    }
}
