<div class="fullwidth-title">
	<div class="container">
		<div class="row">
			<h1>{{ 'PAGE_TITLES.campaigns-title' | translate }}</h1>
		</div>
	</div>
</div>
<div class="credit-desc container">
	<div class="row">
		<div class="col-md-6">
			<p>
				{{ 'PAGE_DESC.campaign-desc' | translate }}
			</p>
		</div>
	</div>
</div>
<div *ngIf="campaigns.length > 0" class="credit-container container">
	<div>
		<div class="offer row">
			<div class="col-md-4 credit-item" *ngFor="let item of campaigns | paginate: { itemsPerPage: 9, currentPage: p }"
				(click)="clickMicrocredit(item.partner.slug, item.slug)">
				<sng-microcredit_campaign-card [campaign]="item"></sng-microcredit_campaign-card>
			</div>
		</div>
		<pagination-controls autoHide="true" (pageChange)="p = $event"></pagination-controls>
	</div>
</div>
<div *ngIf="campaigns.length === 0" class="credit-container container">
	{{ 'PAGE_DESC.campaign-empty' | translate }}
</div>
