.contact-area{
  .contact-text{
    margin-top: 40px;
  }
  .mat-card{
        margin: 40px;
  }

  .single-form {

  padding-left: 30px;
  padding-right: 30px;
  .btn-primary{
    font-size: 1rem;
  }

  .form-group {
    width: 100%;

    mat-form-field {
      width: 100%;

    }
  }

  }
}
