app-home {
	width: 100%;
}
.title-overlapping {
	position: absolute;
	top: -55px;
	left: 0;
	font-size: 2rem;
    color: #415daa;
    font-weight: 700;
	background-color: #fff;
	border-radius: 35px;
	border: 3px solid #fdca27;
	padding: 10px 20px;
}
.home-two-part-section {

	.narrow {
		display: flex;
		align-items: center;
		&-title {
			font-size: 3rem;
			font-weight: 700;
			max-width: 100px;
			word-break: break-word;
			opacity: 0.3;
			line-height: 1;
		}
	}
	&.bck-asymmetry.primary {	
		//background-color: #eee;
		background-image: linear-gradient( to right, #e4509e, #e4509e 50%, #eee 50%, #eee );
		.narrow {
			background-color: #e4509e;
		}
		.wide {
			background-color: #eee;
			&-container {
				padding: 40px 0 30px 20px;
			}
		}
	}
	&.bck-asymmetry.secondary {	
		//background-color: #eee;
		background-image: linear-gradient( to right, #fff, #fff 50%, #415daa 50%, #415daa );
		.narrow {
			background-color: #415daa;
		}
		.wide {
			background-color: #fff;
		}
	}

}
@media (min-width: 1200px) {
	.home-two-part-section {
		&.bck-asymmetry.primary {
			.wide {
				&-container {
					padding: 80px 0 50px 40px;
				}
			}
		}
		&.bck-asymmetry.secondary {
			.wide {
				&-container {
					padding: 80px 50px 0 40px;
				}
			}
		}
	}
}