<!--<div class="map-container">
	<agm-map class="map" [latitude]='latitude' [longitude]='longitude'>
		<agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)"
			[latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable"
			(dragEnd)="markerDragEnd(m, $event)">

			<agm-info-window>
				<strong>InfoWindow content</strong>
			</agm-info-window>
			<agm-circle [latitude]="lat + 0.3" [longitude]="lng" [radius]="5000" [fillColor]="'red'"
			[circleDraggable]="true" [editable]="true">
		</agm-circle>
	</agm-map>
</div>
-->
<app-container>
	<app-home-hero></app-home-hero>
</app-container>
<app-container class="bck-light">
	<h2 class="title-overlapping">{{ 'community-list.title' | translate }}</h2>
	<app-community-list></app-community-list>
</app-container>
<div class="container-wrapper home-two-part-section bck-grey primary">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				Προσφορές
			</div>
			<div class="col-md-10">
				<app-offer-list></app-offer-list>
			</div>
		</div>
	</div>
</div>

<app-microcredit-list></app-microcredit-list>


<app-container class="">
	<app-events-list></app-events-list>
</app-container>