app-home {
	width: 100%;
}
.title-overlapping {
	position: absolute;
	top: -55px;
	left: 0;
	font-size: 2rem;
	color: #415daa;
	font-weight: 700;
	background-color: #fff;
	border-radius: 6px;
	border: 3px solid var(--tertiary);
	padding: 10px 20px;
}
.hero-content-container {
	margin-bottom: 25px;
	p {
		margin-bottom: 10px;
	}
}
.event-container {
	.container-wrapper .container > .row {
		max-width: 1200px;
		margin: 0 auto 40px;
	}
}
