<div class="footer-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12 footer-logo">
            <img src="assets/media/images/logo-wh.png">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <img src="../assets/media/images/ngi-logo.png" />
          </div>
          <div class="col-md-6 eu-img-container">
            <img class="eu-img" src="../assets/media/images/eu-logo.jpg" />
          </div>
        </div>
        <div class="row">
          <div class="footer-text">
            This application is part of a project that has received funding from the European Union’s Horizon 2020
            research and innovation programme under grant agreement No 825268.
          </div>
          <div class="footer-copyright">
            <span _ngcontent-kdv-c7="">&nbsp;©&nbsp;2020&nbsp;Synergy (v{{version}}) | Powered by Sociality
              CoOp</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-6">
          <div class="footer-menu">
            <ng-container *ngFor="let item of menu">
              <a class="footer-menu-link link" [routerLink]="['/'+item.link]">{{item.title | translate}}</a>
            </ng-container>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- <div class="col-md-6">
        <div class="row">
          <div class="col-md-12 footer-logo">
            <img src="assets/media/images/logo-wh.png">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6">
              <img src="../assets/media/images/ngi-logo.png" />
            </div>
            <div class="col-md-6 eu-img-container">
              <img class="eu-img" src="../assets/media/images/eu-logo.jpg" />
            </div>
            <div class="footer-text">
              This application is part of a project that has received funding from the European Union’s Horizon 2020
              research and innovation programme under grant agreement No 825268.
            </div>
            <div class="footer-copyright">
              <span _ngcontent-kdv-c7="">&nbsp;©&nbsp;2020&nbsp;Synergy (v{{version}}) | Powered by Sociality
                CoOp</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="footer-menu">
        <ng-container *ngFor="let item of menu">
          <a class="footer-menu-link link" [routerLink]="['/'+item.link]">{{item.title | translate}}</a>
        </ng-container>
      </div>
    </div>
  </div>
</div>-->