.footer {
	&-wrapper {
		background-color: var(--secondary);
		color: #fff;
		padding-top: 60px;
		padding-bottom: 20px;
	}
	&-main{
		margin-bottom: 80px;
		.logo-wh {
			max-width: 100%;
			width: 180px;
			margin-bottom: 20px;
		}
	
		.footer-menu{
			margin-left: 25px;
			&-link{
				display: block;
				color: #FFF;
				margin-bottom: 10px;
			}
		}
	}
	&-bottom{
		a{
			color: #FFF;
			&:hover{
				font-weight: bold;
			}
		}
	}
}
