.footer-wrapper {
	background-color: #415daa;
	color: #fff;
	padding: 40px 20px 30px;
	.footer-menu-link {
		display: block;
		transition: color 0.3s;
		&:hover {
			color: #fff;
		}
		
	}
	.footer-logo {
		display: flex;
		align-items: center;
	}
	.footer-text {
		margin-bottom: 30px;
	}
}

.footer__wrapper {
	color: #ccc;
	display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8rem 0;
	a {
		color: #eee;
		padding: 0 3px;
		margin: 0 2px;
	}
}