<div class="single-event s_item container" *ngIf="post_event;">
	<div class="row">
		<div class="offset-md-1 col-md-10">
			<div class="row">
				<div class="col-md-12 s_item-img">
					<img [src]="img" [alt]="post_event.title" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 s_item-info-container">
					<h1 class="s_item-title">{{ post_event.title }}</h1>
					<div class="s_item-info">
						<div *ngIf="post_event_type=='event'" class="event">
							<div>
								<span class="mdi mdi-calendar"></span> {{post_event.dateTime | date: 'd/M/y, hh:mm'}}
							</div>
							<div>
								<span class="mdi mdi-map"></span> {{post_event.location}}
							</div>
						</div>
						<div *ngIf="post_event_type=='post'" class="post">
							<div>
								<span class="mdi mdi-clock"></span> {{post_event.createdAt | date: 'd/M/y, hh:mm'}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 s_item-partner">
					<a [routerLink]="['/partner/'+post_event.partner_slug]" title="{{post_event.partner_name}}">
						<h5>{{post_event.partner_name}}</h5>
					</a>
					<a [routerLink]="['/partner/'+post_event.partner_slug]" title="{{post_event.partner_name}}">
						<img src="{{post_event.partner_imageURL}}" alt="{{post_event.partner_name}}">
					</a>
				</div>
				<div class="col-md-9 s_item-content" [innerHTML]="post_event.content">
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 archive-link">
					<a [routerLink]="['/events']">{{ 'SECTIONS.news-link-to-all' | translate }}</a>
				</div>
			</div>
		</div>
	</div>
</div>