/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
html {
	body { 
		margin: 0; 
		padding-top: 20px;
		font-family: Roboto, "Helvetica Neue", sans-serif; 
		background-color: #0c1a33;
		
	}
	app-user-menu, app-language-switcher {
		display: flex;
		align-items: flex-end;
		button {
			margin-left: 15px;
		}
	}

}

@media (min-width: 1200px) {
	.container {
		max-width: 1500px;	
	}
}
