//Variables
$primary: #e4509e;
$secondary: #415daa;
$tertiary: #fdca27;
$grey: #eee;

//Fonts
@font-face{
	font-family: 'NeutrafaceTwoTextGreek';
	src: url('assets/fonts/NeutrafaceTwoTextGreek.woff') format('woff');
}

@font-face{
	font-family: 'NeutrafaceTwoTextGreek';
	src: url('assets/fonts/NeutrafaceTwoTextGreek-Bold.woff') format('woff');
	font-weight: bold;
}

@font-face{
	font-family: 'NeutrafaceTwoTextGreek';
	src: url('assets/fonts/NeutrafaceTwoTextGreek-Italic.woff') format('woff');
	font-style: italic;
}

@font-face{
	font-family: 'NeutrafaceTwoTextGreek';
	src: url('assets/fonts/NeutrafaceTwoTextGreek-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face{
	font-family: 'PFDinTextCompPro';
	src: url('assets/fonts/PFDinTextCompPro-Regular.woff') format('woff');
}

@font-face{
	font-family: 'PFDinTextCompPro';
	src: url('assets/fonts/PFDinTextCompPro-Bold.woff') format('woff');
	font-weight: bold;  
}

@font-face{
	font-family: 'NeutraText-Bold';
	src: url('assets/fonts/NeutraText-Bold.woff') format('woff');

}

html, body { height: 100%; }
html {
	body { 
		margin: 0; 
		padding-top: 20px;
		//font-family: Roboto, "Helvetica Neue", sans-serif; 
		font-family: NeutrafaceTwoTextGreek, "Helvetica Neue", sans-serif; 
		/*background-color: #0c1a33;*/
		h1 {
			margin-bottom: 2rem;
		}
		table {
			width: 100%;
		}
		.card {
			h2 {
				margin-bottom: 2rem;
			}
		}
		.carousel-card {
			background-color: #fff;
			border-radius: 40px;			
			padding: 20px;
			overflow: hidden;
			&-logo {
				position: relative;
				height: auto;
				overflow: hidden;
				padding-top: 50%;
				background-position: 50% 50%;
				background-size: cover;
				margin-bottom: 20px;
				&-container {
					padding:0;					
				}
				img {
					right: 0;
					width: 100%;
					height: 100%;
					bottom: 0;
					left: 0;
					top: 0;
					position: absolute;
					object-position: 50% 50%;
					object-fit: contain;
				}
			}
		}
		.bck-light {
			.container-wrapper {
				background-color: $tertiary;
			}
		}
		.bck-grey {
			.container-wrapper {
				background-color: $grey;
			}
		}
	}
	app-user-menu, app-language-switcher {
		display: flex;
		align-items: flex-end;
		button {
			margin-left: 15px;
		}
	}
	//Bootstrap
	.btn-primary {
		background-color: $primary;
		border-color: $primary;
		box-shadow: 1px 2px 5px #dedbdb;
		transition: 0.3s;
		font-size: 1.2rem;		
		&:hover {
			background-color: #e4509e;
			border-color: #e4509e;
			opacity: 0.9;
			box-shadow: 4px 8px 5px #dedbdb;	
		}
	}
	.dropdown-toggle::after {
		content: none;
	}

	
}
//Owl carousel
.owl-theme {
	.owl-nav {
		position: absolute;
		bottom: 60%;
		display: flex;
		width: 100%;
		justify-content: space-between;
		pointer-events: none;
		[class*=owl-] {
			font-size: 34px;
			line-height: 1.1;
		}
	}
	.owl-prev {
		
		pointer-events: all;
		&:before {
			content:"\f141";
			font-family: "Material Design Icons";
		}
	}
	.owl-next {
		pointer-events: all;
		&:before {
			content:"\f142";
			font-family: "Material Design Icons";
		}
	}
}
//Material Card
.mat-card.item-card {
	margin-bottom: 30px;
	padding-top: 0;
	.item {
		&-img {
			position: relative;
			height: auto;
			overflow: hidden;
			padding-top: 60%;
			background-position: 50% 50%;
			background-size: cover;
			&-container {
				padding:0;
				margin-bottom: 20px;
			}
			img {
				right: 0;
				width: 100%;
				height: 100%;
				bottom: 0;
				left: 0;
				top: 0;
				position: absolute;
				object-position: 50% 50%;
				object-fit: cover;
			}
		}
		&-expires {
			position: absolute;
			z-index: 1;
			right: 0;
			bottom: 20%;
			background-color: #e6c615;
			color: #fff;
			padding: 10px 22px;
			font-size: 1.42rem;
		}
		&-heading {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 18px;
			.points {
				font-size: 1.1rem;
			}
		}
		&-description {
			font-size: 1.1rem;
			color: #8b8b8b;
			margin-bottom: 20px;
			padding-bottom: 15px;
			border-bottom: 1px solid #eee;
		}
		&-title {
			font-size: 1.4rem;
		}
		&-subtitle {
			font-size: 14px;
			margin-bottom: 5px;	
			color: #8b8b8b;
			img {
				position: relative;
				top: -2px;
				margin-right: 5px;
			}
		}
		&-info {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.share {
				cursor: pointer;
			}
		}
	}
}
	
@media (min-width: 1200px) {
	html {
		body { 
			.container {
				max-width: 1300px;	
			}
			.carousel-card {
				border-radius: 60px;
				margin: 0 15px;
			}
		}
	}
}
