@import "variables.scss";


//Fonts
@font-face {
  font-family: 'NeutrafaceTwoTextGreek';
  src: url('assets/fonts/NeutrafaceTwoTextGreek.woff') format('woff');
}

@font-face {
  font-family: 'NeutrafaceTwoTextGreek';
  src: url('assets/fonts/NeutrafaceTwoTextGreek-Bold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'NeutrafaceTwoTextGreek';
  src: url('assets/fonts/NeutrafaceTwoTextGreek-Italic.woff') format('woff');
  font-style: italic;
}

@font-face {
  font-family: 'NeutrafaceTwoTextGreek';
  src: url('assets/fonts/NeutrafaceTwoTextGreek-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'PFDinTextCompPro';
  src: url('assets/fonts/PFDinTextCompPro-Regular.woff') format('woff');
}

@font-face {
  font-family: 'PFDinTextCompPro';
  src: url('assets/fonts/PFDinTextCompPro-Bold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'NeutraText-Bold';
  src: url('assets/fonts/NeutraText-Bold.woff') format('woff');

}

html,
body {
  height: 100%;
}

html {
  body {
    margin: 0;
    padding-top: 20px;
    //font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-family: NeutrafaceTwoTextGreek, "Helvetica Neue", sans-serif;

    /*background-color: #0c1a33;*/
    h1 {
      margin-bottom: 2rem;
    }

    a {
      color: $secondary-dark;
      transition: color 0.3s;

      &:hover {
        color: #03050a;
        text-decoration: none;
      }
    }

    table {
      width: 100%;
    }

    .fullwidth-title {
      background-color: $primary;

      .row {
        justify-content: flex-end;
        align-items: center;
        min-height: 90px;
      }

      h1 {
        font-size: 4rem;
        font-weight: 700;
        opacity: 0.3;
        line-height: 1;
        margin-bottom: 0;
      }

      .normal-text {
        .row {
          justify-content: flex-start;

          h4 {
            color: #fff;
            font-size: 2rem;
          }
        }
      }
    }

    .card {
      h2 {
        margin-bottom: 2rem;
        font-weight: 700;
      }
    }

    .carousel-card {
      background-color: #fff;
      border-radius: 40px;
      padding: 20px;
      overflow: hidden;
      cursor: pointer;

      &-logo {
        position: relative;
        height: auto;
        overflow: hidden;
        padding-top: 50%;
        background-position: 50% 50%;
        background-size: cover;
        margin-bottom: 20px;

        &-container {
          padding: 0;
        }

        img {
          right: 0;
          width: 100%;
          height: 100%;
          bottom: 0;
          left: 0;
          top: 0;
          position: absolute;
          object-position: 50% 50%;
          object-fit: contain;
        }
      }
    }

    .bck-light {
      .container-wrapper {
        background-color: $tertiary;
      }
    }

    .bck-grey {
      .container-wrapper {
        background-color: $grey;
      }
    }
  }

  app-user-menu,
  app-language-switcher {
    display: flex;
    align-items: flex-end;

    button {
      margin-left: 15px;
    }
  }

  //Bootstrap
  .btn-primary {
    background-color: $secondary;
    border-color: $secondary;
    box-shadow: 1px 2px 5px #dedbdb;
    transition: 0.3s;
    font-size: 1.5rem;

    &:hover {
      background-color: #415daa;
      border-color: #415daa;
      opacity: 0.9;
      box-shadow: 4px 8px 5px #dedbdb;
    }

    &.tertiary-bck {
      box-shadow: 1px 2px 5px #b09408;

      &:hover {
        box-shadow: 4px 8px 5px #b09408;
      }
    }
  }

  .btn-danger {
    background-color: $primary;
    border-color: $primary;
    box-shadow: 1px 2px 5px #dedbdb;
    transition: 0.3s;
    font-size: 1.5rem;

    &:hover {
      background-color: #e4509e;
      border-color: #e4509e;
      opacity: 0.9;
      box-shadow: 4px 8px 5px #dedbdb;
    }

    &.tertiary-bck {
      box-shadow: 1px 2px 5px #b09408;

      &:hover {
        box-shadow: 4px 8px 5px #b09408;
      }
    }
  }

  .dropdown-toggle::after {
    content: none;
  }


}

//Home
.event-container {
  .container-wrapper .container>.row {
    max-width: 1200px;
    margin: 0 auto 40px;
  }
}

//Hero Section
.hero-content-container {
  margin-bottom: 25px;

  p {
    margin-bottom: 10px;
  }
}

//Single
.single {
  .campaign {
    .mdi {
      color: $secondary;
    }
  }

  &-title {
    font-size: 1.8rem;
    font-weight: 700;
    color: $primary;
    margin-bottom: 10px;
  }

  p {
    font-size: 24px;
  }

  .campaign-support {
    padding-bottom: 30px;
  }

  &-info {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;

    .mdi {
      position: relative;
      top: 2px;
      font-size: 28px;
      color: $primary;
    }
  }
}

.offer,
.campaign {
  &-wrapper {
    overflow: hidden;
  }

  position: relative;
  //overflow: hidden;
  height: 100%;

  &-logo {
    //position: absolute;
    top: 0;
    right: 0;
    width: 50%;

    img {
      width: 100%;
    }
  }

  .partner-img {
    display: flex;
    align-items: center;

    img {
      max-width: 300px;
      max-height: 160px;
    }
  }
}

//Single Event
.post-content,
.description {
  br {
    display: block;
    margin-bottom: 15px;
    content: "";
  }
}

//Coop section
.coop-section {
  .owl-theme .owl-nav {
    bottom: 50%;

    .owl-prev {
      margin-left: -8px;
    }

    .owl-next {
      margin-right: -8px;
    }
  }
}

//Gallery
.gallery {
  .owl-theme .owl-nav {
    bottom: 40%;

    .owl-prev,
    .owl-next {
      margin: 0;
    }
  }
}

//Full width offer/campaign Sections
.two-part-section {
  .narrow {
    display: flex;
    align-items: center;

    &-title {
      font-size: 3rem;
      font-weight: 700;
      word-break: break-word;
      opacity: 0.3;
      margin-bottom: 10px;
    }
  }

  &.bck-asymmetry.primary {
    //background-color: #eee;
    background-image: linear-gradient(to right, #e4509e, #e4509e 50%, #fff 50%, #fff);

    .narrow {
      background-color: #e4509e;
    }

    .wide {
      background-color: #fff;

      &-container {
        padding: 40px 0 30px 20px;
      }
    }
  }

  &.bck-asymmetry.secondary {
    //background-color: #eee;
    background-image: linear-gradient(to right, #eee, #eee 50%, #415daa 50%, #415daa);

    .narrow {
      background-color: #415daa;
    }

    .wide {
      background-color: #eee;
    }
  }
}

.section-link-to-all {
  margin: 0 20px 30px;

  a:hover {}
}

.campaign-wrapper {
  .fullwidth-title {
    background-color: $secondary;
  }

  .single-title {
    color: $secondary;
  }
}

.coop-wrapper {
  .fullwidth-title {
    background-color: $tertiary;
  }
}

//News Section
.news-title {
  font-weight: 700;
  text-align: center;
  padding: 10px 0 30px;
}

//Owl carousel
.owl-theme {
  .owl-nav {
    position: absolute;
    bottom: 61%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    pointer-events: none;

    [class*=owl-] {
      font-size: 34px;
      line-height: 1.1;
      background-color: #687aae;
      pointer-events: all;
      transition: background-color 0.3s;

      &:hover {
        background-color: $secondary;
      }
    }

    .owl-prev {
      margin-left: -22px;

      &:before {
        content: "\f141";
        font-family: "Material Design Icons";
      }
    }

    .owl-next {
      margin-right: -22px;

      &:before {
        content: "\f142";
        font-family: "Material Design Icons";
      }
    }
  }

  .owl-dots {
    margin-top: 10px;

    .owl-dot {

      &.active,
      &:hover {
        span {
          background: $primary;
        }
      }
    }
  }
}

//Material Card
.mat-card.item-card {
  font-family: NeutrafaceTwoTextGreek, "Helvetica Neue", sans-serif;
  margin-bottom: 30px;
  padding-top: 0;
  box-shadow: 0 6px 21px -2px #d1cbcb;
  border-radius: 9px;
  overflow: hidden;
  max-width: 400px;
  cursor: pointer;

  .item {
    &-img {
      position: relative;
      height: auto;
      overflow: hidden;
      padding-top: 60%;
      background-position: 50% 50%;
      background-size: cover;

      &-container {
        padding: 0;
        margin-bottom: 20px;
      }

      img {
        right: 0;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        top: 0;
        position: absolute;
        object-position: 50% 50%;
        object-fit: cover;
      }
    }

    &-expires {
      position: absolute;
      z-index: 1;
      right: 0;
      bottom: 20%;
      background-color: $tertiary;
      color: #fff;
      padding: 10px 22px;
      font-size: 1.42rem;
    }

    &-heading {
      display: flex;
      justify-content: space-between;
      margin-bottom: 14px;

      .points-container {
        flex-shrink: 0;

        .points {
          font-size: 1.5rem;
          margin-left: 5px;
          line-height: 1.1;

          img {
            display: inline;
            width: 24px;
          }
        }
      }

      .coop-sector {
        position: absolute;
        top: -47px;
        right: 0;
        background-color: $tertiary;
        color: #fff;
        font-size: 18px;
        padding: 10px 15px;
      }
    }

    &-description {
      font-size: 1.1rem;
      color: #707070;
      margin-bottom: 17px;
      line-height: 1.3;
    }

    &-title {
      font-size: 1.35rem;
      line-height: 1.3;
    }

    &-subtitle {
      font-size: 14px;
      margin-bottom: 2px;
      color: #000;

      img {
        position: relative;
        top: -2px;
        margin-right: 5px;
      }
    }

    &-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid #eee;
      padding-top: 15px;

      .share {
        cursor: pointer;
      }
    }

    .mdi {
      margin-right: 8px;
      font-size: 16px;
      color: $secondary;

      &.white {
        color: #fff;
      }
    }
  }
}

//Sidebar
.sidenav {
  .nav-link {
    opacity: 0;
  }
}

.sidenav.menu-active {
  .nav-link {
    opacity: 1;
  }
}

//Pagination
.ngx-pagination {
  li {
    &.current {
      background: $primary;
    }
  }
}

@media (max-width: 767px) {

  .offer,
  .campaign {
    >.container>.row {
      flex-direction: column-reverse;
    }

    &-image {
      padding: 0;
      margin-bottom: 30px;

      >div {
        position: relative;
        height: auto;
        overflow: hidden;
        padding-top: 60%;
        background-position: 50% 50%;
        background-size: cover;

        img {
          right: 0;
          width: 100%;
          height: 100%;
          bottom: 0;
          left: 0;
          top: 0;
          position: absolute;
          object-position: 50% 50%;
          object-fit: cover;
        }
      }
    }
  }

  .two-part-section {
    &.bck-asymmetry.primary {
      .wide {
        &-container {
          padding: 40px 0 30px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .fullwidth-title {
    margin-bottom: 30px;
  }

  .offer,
  .campaign {
    &-image {
      >div {
        //position: absolute;
        width: calc(50vw - 50%);
        height: calc(100% + 130px);
        position: relative;
        top: -130px;
        margin-bottom: -130px;

        img {
          width: 100%;
          border-bottom-left-radius: 50%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .two-part-section {
    .narrow {
      &-title {
        font-size: 5rem;
        max-width: 150px;
        line-height: 0.8;
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: 1200px) {
  html {
    body {
      .container {
        max-width: 1300px;
      }

      .carousel-card {
        border-radius: 60px;
        margin: 0 15px;
      }
    }
  }

  .two-part-section {
    &.bck-asymmetry.primary {
      .wide {
        &-container {
          padding: 80px 0 50px 40px;
        }
      }
    }

    &.bck-asymmetry.secondary {
      .wide {
        &-container {
          padding: 80px 50px 0 40px;
        }
      }
    }
  }
}
